.whyus-section {
    padding: 50px 50px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #fff;
}

.whyus-section .left-column,
.whyus-section .right-column {
    border-radius: 10px;
    padding: 50px 20px 50px 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    transition: all 0.3s ease;
}


.whyus-section .left-column:hover,
.whyus-section .right-column:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

.whyus-section h6 {
    color: rgb(71, 41, 107);
}

.whyus-section h3 {
    font-size: 40px;
}


.whyus-section .left-column {
    background: rgb(247, 247, 247);
}

.whyus-section .right-column {
    background: rgb(230, 240, 252);
}

.whyus-section .left-column .chatImage,
.whyus-section .right-column .chatImage {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: absolute;
    top: 3vh;
    right: 15vw;
}

.whyus-section .left-column .aiCopilot {
    height: 25vh;
    width: 12vw;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 10vh;
    right: 1vw;
}


.whyus-section .right-column .deepseekImage {
    height: 25vh;
    width: 12vw;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 10vh;
    right: 1vw;
}

@media screen and (max-width: 992px) {
    .whyus-section {
        padding: 50px 50px 20px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .whyus-section .left-column .chatImage,
    .whyus-section .right-column .chatImage {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
        position: absolute;
        top: 40vh;
        right: 5vw;
    }

    .whyus-section .right-column .deepseekImage {
        height: 20vh;
        width: 12vw;
        object-fit: cover;
        border-radius: 10px;
        position: absolute;
        top: 2vh;
        right: 3vw;
    }
}


@media screen and (max-width: 768px) {
    .whyus-section {
        padding: 50px 50px 20px 50px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .whyus-section .left-column .chatImage {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        object-fit: cover;
        position: absolute;
        top: 3vh;
        right: 15vw;
    }

    .whyus-section .right-column .chatImage {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        top: 30vh;
        right: 15vw;
    }

    .whyus-section .left-column .aiCopilot {
        height: 15vh;
        width: 12vw;
        top: 30vh;
        right: 8vw;
    }

    .whyus-section .right-column .deepseekImage {
        height: 20vh;
        width: 12vw;
        top: 2vh;
        right: 3vw;
    }
}

@media screen and (max-width: 462px) {
    .whyus-section {
        padding: 50px 15px 20px 15px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .whyus-section .left-column,
    .whyus-section .right-column {
        width: 100%;
        border-radius: 10px;
        padding: 50px 20px 50px 20px;
        display: flex;
        align-items: center;
        gap: 40px;
        position: relative;
        transition: all 0.3s ease;
    }

    .whyus-section .left-column h3,
    .whyus-section .right-column h3 {
        font-size: 20px;
    }

    .whyus-section .left-column p,
    .whyus-section .right-column p {
        font-size: 14px;
    }

    .whyus-section .left-column .chatImage {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        object-fit: cover;
        position: absolute;
        top: 3vh;
        right: 5vw;
    }

    .whyus-section .right-column .chatImage {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        top: 30vh;
        right: 10vw;
    }

    .whyus-section .left-column .aiCopilot {
        height: 15vh;
        width: 30vw;
        top: 20vh;
        right: 8vw;
    }

    .whyus-section .right-column .deepseekImage {
        width: 80px;
        height: 80px;
        top: 2vh;
        right: 3vw;
    }
}



