.stats-section {
    width: 100%;
    padding: 100px 50px 100px 50px;
    background: linear-gradient(
        135deg,
        #3d1f63,
        #4b2a7a,
        #2e174d
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    clip-path: ellipse(100% 85% at 50% 35%);
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.4);
}

.stats-section::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(255, 200, 0, 0.09);
    border-radius: 50%;
    top: -100px;
    right: -100px;
}

.stats-section::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(255, 200, 0, 0.09);
    border-radius: 50%;
    top: -250px;
    left: -250px;
}

.stats-section .stats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 2;
}

.stats-section .stats-texts {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.stats-section .stats-texts h5 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
}

.stats-section .stats-texts p {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.8;
}

.dots-layer {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 50px;
    right: 200px;
    background-image: radial-gradient(rgba(255, 200, 0, 0.6) 2px, transparent 2px);
    background-size: 30px 30px;

    z-index: 1;
    animation: floatDots 12s ease-in-out infinite;
}

@keyframes floatDots {
    0% {
        transform: translate3d(0px, 0px, 0);
    }
    50% {
        transform: translate3d(-15px, -25px, 0);
    }
    100% {
        transform: translate3d(0px, 0px, 0);
    }
}

